Connected Services/ServiceReference1/RNA_Rebuild.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RNA_Rebuild" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RNA_Rebuild" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ConnectionTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IP" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="PcName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="SuperImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperImage" nillable="true" type="tns:SuperImage" />
  <xs:complexType name="ArrayOfSuperFileDirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuperFileDirectoryInfo" nillable="true" type="tns:SuperFileDirectoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuperFileDirectoryInfo" nillable="true" type="tns:ArrayOfSuperFileDirectoryInfo" />
  <xs:complexType name="SuperFileDirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HaveSub" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Icon" nillable="true" type="q2:Bitmap" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperFileDirectoryInfo" nillable="true" type="tns:SuperFileDirectoryInfo" />
  <xs:complexType name="ArrayOfSuperProcess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuperProcess" nillable="true" type="tns:SuperProcess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuperProcess" nillable="true" type="tns:ArrayOfSuperProcess" />
  <xs:complexType name="SuperProcess">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Icon" nillable="true" type="q3:Bitmap" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperProcess" nillable="true" type="tns:SuperProcess" />
  <xs:complexType name="SuperFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperFile" nillable="true" type="tns:SuperFile" />
</xs:schema>