Connected Services/ServiceReference1/RNA_Rebuild.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RNA_Rebuild" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RNA_Rebuild" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="SuperFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperFile" nillable="true" type="tns:SuperFile" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ConnectionTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IP" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="PcName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>